<a href="https://colab.research.google.com/github/mukulre/Projects/blob/main/E0322052_Tuple_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("Enter a Number:"))

Enter a Number:5

In [ ]:
numbers = []
while True:
    num = int(input("Enter a number (enter 0 to stop): "))
    if num == 0:
        break
    numbers.append(num)

numbers.sort()
print("Sorted numbers:", numbers)
numbers.reverse()
print(numbers)

Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 5
Enter a number (enter 0 to stop): 9
Enter a number (enter 0 to stop): 0
Sorted numbers: [1, 5, 9]
[9, 5, 1]

In [ ]:
n1 = int(input("Enter a Number:"))
n2 = int(input("Enter a Number:"))
for num in range(n1, n2 + 1):
    if num % 2 == 0:
        print(num)

Enter a Number:2
Enter a Number:5
2
4

In [ ]:
n1 = int(input("Enter a Number:"))
n2 = int(input("Enter a Number:"))
if n1 > n2:
    n1, n2 = n2, n1
for num in range(n1, n2 + 1):
    if num % 2 == 0:
        print(num)

Enter a Number:5
Enter a Number:6
6

In [ ]:
n1 = int(input("Enter a Number:"))
n2 = int(input("Enter a Number:"))
if n1 < n2:
    n1, n2 = n2, n1
for num in range(n1, n2 - 1, -1):
    if num % 2 == 0:
        print(num)

Enter a Number:58
Enter a Number:606
606
604
602
600
598
596
594
592
590
588
586
584
582
580
578
576
574
572
570
568
566
564
562
560
558
556
554
552
550
548
546
544
542
540
538
536
534
532
530
528
526
524
522
520
518
516
514
512
510
508
506
504
502
500
498
496
494
492
490
488
486
484
482
480
478
476
474
472
470
468
466
464
462
460
458
456
454
452
450
448
446
444
442
440
438
436
434
432
430
428
426
424
422
420
418
416
414
412
410
408
406
404
402
400
398
396
394
392
390
388
386
384
382
380
378
376
374
372
370
368
366
364
362
360
358
356
354
352
350
348
346
344
342
340
338
336
334
332
330
328
326
324
322
320
318
316
314
312
310
308
306
304
302
300
298
296
294
292
290
288
286
284
282
280
278
276
274
272
270
268
266
264
262
260
258
256
254
252
250
248
246
244
242
240
238
236
234
232
230
228
226
224
222
220
218
216
214
212
210
208
206
204
202
200
198
196
194
192
190
188
186
184
182
180
178
176
174
172
170
168
166
164
162
160
158
156
154
152
150
148
146
144
142
140
138
136
134
132
130
128
126
124
122
120
118
116
114
112
110
108
106
104
102
100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58

**Defining Tuple, and accessing elements**

In [ ]:
colors = ('red', 'green', 'blue')
print("The first color is:" +colors[0])
print("\nThe available colors are:")
for color in colors:
  print("- "+color)

The first color is:red

The available colors are:
- red
- green
- blue

In [ ]:
# Dictonary: count the freq of char using string
from collections import Counter
text = input("Enter a string:")
char_frequency = Counter(text)
print(dict(char_frequency))

Enter a string:ajay
{'a': 2, 'j': 1, 'y': 1}

In [ ]:
input_string ="Name"
freq={}
for char in input_string:
  freq[char]=freq.get(char, 0)+1
print(freq)

{'N': 1, 'a': 1, 'm': 1, 'e': 1}

In [ ]:
# Raju went to a supermarket to buy some product, he as purchased the product and about to pay the bill, where the item he
#purchased is been stored in a nested tuple in the following order ((item name, item cost, no of item)), Consider Raju has purchased five items.
#Calculate the total cost of the item he purchased.

items = (
    ("Apples", 2.5, 3),
    ("Bananas", 1.2, 5),
    ("Milk", 3.0, 2),
    ("Bread", 1.5, 4),
    ("Eggs", 0.2, 12)
)
total_cost = sum(item[1] * item[2] for item in items)
print(f"Total cost of items purchased: ₹{total_cost:.2f}")

Total cost of items purchased: ₹27.90

In [ ]:
text = input("Enter a string:")
char_frequency = {}

for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print("Character frequency:", char_frequency)

Enter a string:Hello
Character frequency: {'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
from collections import Counter
text = input("Enter a string:")
char_frequency = Counter(text)
print(dict(char_frequency))

Enter a string:Welcome to course
{'W': 1, 'e': 3, 'l': 1, 'c': 2, 'o': 3, 'm': 1, ' ': 2, 't': 1, 'u': 1, 'r': 1, 's': 1}

In [ ]:
 f = open("data.txt","r")
 print(f.read())

Hello World!!!

In [ ]:
f = open("data.txt","r")
print(f.readline())
print(f.readline())

Hello World!!!

In [ ]:
f = open("data.txt","r")
for x in f:
  print(x)

Hello World!!!

In [ ]:
f = open("data.txt","r")
print(f.read(5))

Hello

In [ ]:
f = open("data.txt", "w")
f.write("New Content added in the File")
f.close()

#open and read the file after the appending:
f = open("data.txt", "r")
print(f.read())

New Content added in the File

In [ ]:
# delete the file
import os
os.remove("data.txt")
print("File Removed Successfully")

File Removed Successfully

In [ ]:
import os
if os.path.exists("data.txt"):
  os.remove("data.txt")
  print("File Removed Successfully")
else:
  print("File does not exist")

File does not exist

In [ ]:
# Python code to illustrate split() function
with open("data1.txt", "r") as file:
    data = file.read()
    lines = line.split("\n")
    for line in lines:
      print(line)

Luck

In [ ]:
# Python code to illustrate split() function
with open("data1.txt", "r") as file:
    data = file.readlines()
    for line in data:
      lines = line.split()
      print(lines)

['New', 'Content', 'added', 'in', 'the', 'File']

In [ ]:
# Python code to illustrate with() alongwith write()

with open("data1.txt", "w") as f:
  f.write("Hello World!!!")
  print("File Created Successfully!")

File Created Successfully!

In [ ]:
f = open("data2.txt", "w")
f.write("New Content added in the File")
f.close()

#open and read the file after the appending:
f = open("data2.txt", "r")
print(f.read())

New Content added in the File

In [ ]:
# read and write Json file
import json
data = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
with open("data.json", "w") as f:
    json.dump(data, f)

# reading JSON data
with open('data.json', 'r') as f:
  data=json.load(f)
  print(data)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
# word search
a = input("Enter the word to search: ")
with open("data1.txt", "r") as f:
    data = f.read()
    if data.upper() or data.lower() == a.upper():
        print("Word found")
    else:
        print("Word not found")

Enter the word to search: new
Word found

In [ ]:
# word search
a = input("Enter the word to search: ")
with open("data1.txt", "r") as f:
    data = f.read()
    if a in data:
        print("Word found")
    else:
        print("Word not found")

Enter the word to search: new
Word not found

In [ ]:
file1 = open('AI.txt','w')
file1.write("Artificial Intelligence is method of learing")
file1.close()
print("File Created Successfully")

File Created Successfully