<a href="https://colab.research.google.com/github/mukulre/Projects/blob/main/e0322052_exercises_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#merging two sorted list
a = [3, 4, 6, 10, 11, 18]
b = [1, 5, 7, 12, 13, 19, 21]
c = []

while a and b:
    if a[0] < b[0]:
        c.append(a.pop(0))
    else:
        c.append(b.pop(0))

# either a or b could still be non-empty
print(c + a + b)

[1, 3, 4, 5, 6, 7, 10, 11, 12, 13, 18, 19, 21]

In [ ]:
# Payroll processing
# Initial list of dictionaries representing the payroll
payroll = [
    {'name': 'Alice', 'salary': 50000, 'department': 'Engineering', 'hours_worked': 40},
    {'name': 'Bob', 'salary': 45000, 'department': 'Marketing', 'hours_worked': 35},
    {'name': 'Charlie', 'salary': 60000, 'department': 'Engineering', 'hours_worked': 45},
    {'name': 'David', 'salary': 55000, 'department': 'Sales', 'hours_worked': 50}
]
#The f before the opening quotation mark indicates that the string is an f-string.
# This allows for expressions inside the string to be evaluated at runtime.
def add_employee(payroll, n, s, d, hr):
    new_employee = {'name': n, 'salary': s, 'department': d,
                    'hours_worked': hr}
    payroll.append(new_employee)
    print(f"Added employee: {name} with salary {salary}, dept is {department}")
# calling function
add_employee(payroll, 'Eve', 48000, 'Engineering', 38)
add_employee(payroll,"xyz",50000,"cse",8)



def update_hours_worked(payroll, name, new_hours):
    for employee in payroll:
        if employee['name'] == name:
            employee['hours_worked'] = new_hours
            print(f"Updated hours worked for {name} to {new_hours}")
            return
    print(f"Employee named {name} not found in the payroll.")
update_hours_worked(payroll, 'Charlie', 50)

def get_employees_by_department(payroll, department):
    employees_in_department = [employee for employee in payroll if employee['department']== department]
    return employees_in_department

engineering_employees = get_employees_by_department(payroll, 'Engineering')
print("Engineering employees:", engineering_employees)

def get_total_payroll_cost(payroll):
    total_cost = sum(employee['salary'] for employee in payroll)
    return total_cost

total_payroll_cost = get_total_payroll_cost(payroll)
print("Total payroll cost:", total_payroll_cost)

In [ ]:
# Gold prices for the last 5 days
prices = [6510, 6501, 7499, 7501, 7501]

# Calculate the daily changes in gold prices
daily_changes = [prices[i] - prices[i - 1] for i in range(1, len(prices))]
print(daily_changes)

# Convert the list of daily changes to a set to get unique values
unique_changes = set(daily_changes)

# Print the unique price movements
print(unique_changes)

[-9, 998, 2, 0]
{0, 2, 998, -9}

In [ ]:
# Nested tuple containing student data
grades_data = (
    (1, "CSE", "A"), (2, "ECE", "B+"), (3, "CSE", "S"), (4, "MECH", "A+"),
    (5, "ECE", "A"), (6, "CSE", "B"), (7, "CSE", "C"), (8, "MECH", "B"),
    (9, "CSE", "F"), (10, "ECE", "A+"), (11, "MECH", "S"), (12, "MECH", "A")
)

# Grade to grade point mapping
grade_points = {"S": 10, "A+": 9, "A": 8, "B+": 7, "B": 6, "C": 5, "F": 0, "FA": 0}

# Initialize dictionaries to hold total points and counts for each department
dept_points = {}
dept_counts = {}

# Iterate through the grades data to calculate total points and counts
for _, department, grade in grades_data:
    if department not in dept_points:
        dept_points[department] = 0
        dept_counts[department] = 0
    dept_points[department] += grade_points[grade]
    dept_counts[department] += 1

# Calculate average grade point for each department
average_points = {dept: dept_points[dept] / dept_counts[dept] for dept in dept_points}
print(average_points)

# Find the department with the highest average grade point
best_department = max(average_points, key=average_points.get)
average=average_points[best_department]

# Print the average points for each department and the best department
print("Average Grade Points for Each Department:")
for dept, avg in average_points.items():
    print(f"{dept}: {avg:.2f}")

print(f"\nDepartment with the highest average grade point: {best_department} with :{average}")

{'CSE': 5.8, 'ECE': 8.0, 'MECH': 8.25}
Average Grade Points for Each Department:
CSE: 5.80
ECE: 8.00
MECH: 8.25

Department with the highest average grade point: MECH with :8.25

A sports club is considering a new color for their team jersey. The decision is to be made through a vote involving various stakeholders. The stakeholders include players, coaches, sponsors, fans, and club staff. Each group of stakeholders has a different influence on the final decision, represented by weights. For example, players might have a higher influence than fans.

You are a data analyst at the sports club. Your task is to assign weights to the 5 stakeholder groups and use a Python dictionary to count the choices of the jersey color, considering both the frequency of votes and the assigned weights. Determine the color with the highest weighted vote total.

In [ ]:
# Define the stakeholder groups and their weights
weights = {
    'Players': 2.5,
    'Coaches': 2.0,
    'Sponsors': 3.0,
    'Fans': 1.0,
    'Club Staff': 1.5
}

# Simulated votes (each stakeholder group votes for a color)
votes = {
    'Players': 'Red',
    'Coaches': 'Blue',
    'Sponsors': 'Red',
    'Fans': 'Green',
    'Club Staff': 'Blue'
}

# Initialize a dictionary to count the weighted votes
weighted_votes = {}

# Calculate the weighted votes
for group, color in votes.items():
    weight = weights[group]
    if color in weighted_votes:
        weighted_votes[color] += weight
    else:
        weighted_votes[color] = weight

# Print the weighted votes
print("Weighted votes:", weighted_votes)

# Determine the winning color
winning_color = max(weighted_votes, key=weighted_votes.get)
print("The selected color for the team jersey is:", winning_color)

Weighted votes: {'Red': 5.5, 'Blue': 3.5, 'Green': 1.0}
The selected color for the team jersey is: Red

In [ ]:
# Lists storing the number of items sold and produced each day
items_sold = [100, 150, 80, 60, 200, 250, 300, 400, 50, 30]
items_produced = [200, 200, 200, 200, 200, 200, 200, 200, 200, 200]

# Initial inventory
inventory = 1000

# Analyze the data and decide the number of items to be produced the next day
for day in range(len(items_sold)):
    # Calculate the inventory at the end of the day
    inventory = inventory + items_produced[day] - items_sold[day]

    # Apply the conditions
    if inventory < 50:
        next_production = items_produced[day] * 2
    elif inventory < 500:
        next_production = items_produced[day] * 1.1
    elif day >= 2 and items_sold[day - 1] + items_sold[day - 2] < 0.5 * (items_produced[day - 1] + items_produced[day - 2]):
        next_production = 0
    elif items_sold[day] < 200:
        next_production = items_produced[day] * 0.5
    else:
        next_production = items_produced[day]

    print(f"Day {day + 1}: Produced = {items_produced[day]}, Sold = {items_sold[day]}, Inventory = {inventory}, Next Production = {next_production}")

Day 1: Produced = 200, Sold = 100, Inventory = 1100, Next Production = 100.0
Day 2: Produced = 200, Sold = 150, Inventory = 1150, Next Production = 100.0
Day 3: Produced = 200, Sold = 80, Inventory = 1270, Next Production = 100.0
Day 4: Produced = 200, Sold = 60, Inventory = 1410, Next Production = 100.0
Day 5: Produced = 200, Sold = 200, Inventory = 1410, Next Production = 0
Day 6: Produced = 200, Sold = 250, Inventory = 1360, Next Production = 200
Day 7: Produced = 200, Sold = 300, Inventory = 1260, Next Production = 200
Day 8: Produced = 200, Sold = 400, Inventory = 1060, Next Production = 200
Day 9: Produced = 200, Sold = 50, Inventory = 1210, Next Production = 100.0
Day 10: Produced = 200, Sold = 30, Inventory = 1380, Next Production = 100.0

In [ ]:
#Round Robin
#['ABC', 'D', 'EF'] => [A, D, E, B, F, C]:

a = ['ABC','D','EF']

# construct a dictionary - { string: current length }
# {'ABC': 3, 'D': 1, 'EF': 2}
da = { x:len(x) for x in a }
print(da)

# get max length of the strings
print(da[max(da, key=da.get)])
mx = max(da.values())

ans = []

# loop with max length
for i in range(mx):
  # loop the dictionary
  for k,v in da.items():
    if v > 0:
      # append a char starting from the first one
      ans.append(k[-v])
      v -= 1
      da[k] = v

print(ans)

{'ABC': 3, 'D': 1, 'EF': 2}
3
['A', 'D', 'E', 'B', 'F', 'C']

In [ ]:
#merge list
a = [3, 4, 6, 10, 11, 18]
b = [1, 5, 7, 12, 13, 19, 21]

a.extend(b)
c = sorted(a)
print(c)

[1, 3, 4, 5, 6, 7, 10, 11, 12, 13, 18, 19, 21]

In [ ]:
#Get word frequency - initializing dictionary

ss = """Nory was a Catholic because her mother was a Catholic,
and Nory's mother was a Catholic because her father was a Catholic,
and her father was a Catholic because his mother was a Catholic,
or had been."""

words = ss.split()
d = {}.fromkeys(words,0)

# or we can use this to initialize a dict
d = {x:0 for x in words}

for w in words:
    d[w] += 1
print(d)

print(d.items())

ds = sorted(d.items(), key=lambda x:x[1], reverse=True)
print(ds)

# or we can use this for the key
import operator
ds2 = sorted(d.items(), key=operator.itemgetter(1), reverse=True)
print(ds2)

{'Nory': 1, 'was': 6, 'a': 6, 'Catholic': 3, 'because': 3, 'her': 3, 'mother': 3, 'Catholic,': 3, 'and': 2, "Nory's": 1, 'father': 2, 'his': 1, 'or': 1, 'had': 1, 'been.': 1}
dict_items([('Nory', 1), ('was', 6), ('a', 6), ('Catholic', 3), ('because', 3), ('her', 3), ('mother', 3), ('Catholic,', 3), ('and', 2), ("Nory's", 1), ('father', 2), ('his', 1), ('or', 1), ('had', 1), ('been.', 1)])
[('was', 6), ('a', 6), ('Catholic', 3), ('because', 3), ('her', 3), ('mother', 3), ('Catholic,', 3), ('and', 2), ('father', 2), ('Nory', 1), ("Nory's", 1), ('his', 1), ('or', 1), ('had', 1), ('been.', 1)]
[('was', 6), ('a', 6), ('Catholic', 3), ('because', 3), ('her', 3), ('mother', 3), ('Catholic,', 3), ('and', 2), ('father', 2), ('Nory', 1), ("Nory's", 1), ('his', 1), ('or', 1), ('had', 1), ('been.', 1)]

You are tasked with organizing a list of cities into their respective countries for a travel agency's database. Given the following dictionary of cities and their corresponding countries:

cities = {'San Francisco': 'US', 'London': 'UK',
          'Manchester': 'UK', 'Paris': 'France',
          'Los Angeles': 'US', 'Seoul': 'Korea'}
Your goal is to create a new dictionary where the keys are the country codes and the values are lists of cities belonging to each country. For example, the expected output should look like this:

{'US': ['San Francisco', 'Los Angeles'],
 'UK': ['London', 'Manchester'],
 'France': ['Paris'],
 'Korea': ['Seoul']}

In [ ]:
cities = {'San Francisco': 'US', 'London':'UK',
        'Manchester':'UK', 'Paris':'France',
        'Los Angeles':'US', 'Seoul':'Korea'}

# => {'US':['San Francisco', 'Los Angeles'], 'UK':[,], ...}

a = [v for k,v in cities.items()]
print(a)

ds = {x:[] for x in set(a)}
print(ds)

for k,v in cities.items():
	ds[v].append(k)

print(ds)

In [ ]:
#compress('ABCDEF', [1,0,1,0,1,1]) => ACEF

def compress(data, selector):
  return (d for d,s in zip(data, selector) if s)

a = 'ABCDEF'
bit = [1,0,1,0,1,1]

for x in compress(a,bit):
  print(x, end='')    # ACEF

In [ ]:
#Question 1: Find the length of a tuple.

# Solution 1:
def tuple_length(tup):
    return len(tup)

# Solution 2:
tup = (1, 2, 3, 4, 5)
length = len(tup)
print(length)  # Output: 5

In [ ]:
#Question 2: Concatenate two tuples.

# Solution 1:
def concatenate_tuples(tup1, tup2):
    return tup1 + tup2

# Solution 2:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
result = tup1 + tup2
print(result)  # Output: (1, 2, 3, 4, 5, 6)

In [ ]:
#Question 3: Access an element in a tuple.

# Solution 1:
def access_element(tup, index):
    return tup[index]

# Solution 2:
tup = (10, 20, 30, 40, 50)
element = tup[2]
print(element)  # Output: 30

In [ ]:
#Question 4: Count the occurrences of an element in a tuple.

# Solution 1:
def count_element(tup, value):
    return tup.count(value)

# Solution 2:
tup = (1, 2, 2, 3, 2, 4, 2)
count = tup.count(2)
print(count)  # Output: 4

In [ ]:
#Question 5: Check if an element exists in a tuple.

# Solution 1:
def element_exists(tup, value):
    return value in tup

# Solution 2:
tup = (10, 20, 30, 40, 50)
exists = 30 in tup
print(exists)  # Output: True

In [ ]:
#Question 6: Convert a tuple to a string.

# Solution 1:
def tuple_to_string(tup):
    return str(tup)

# Solution 2:
tup = (1, 2, 3)
string = str(tup)
print(string)  # Output: "(1, 2, 3)"

In [ ]:
#Question 7: Find the index of an element in a tuple.
# Solution 1:
def find_index(tup, value):
    return tup.index(value)

# Solution 2:
tup = (10, 20, 30, 40, 50)
index = tup.index(30)
print(index)  # Output: 2

In [ ]:
#Question 8: Convert a list to a tuple.
# Solution 1:
def list_to_tuple(lst):
    return tuple(lst)

# Solution 2:
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)  # Output: (1, 2, 3, 4, 5)

In [ ]:
#Question 9: Iterate through a tuple using a loop.
# Solution:
tup = (10, 20, 30, 40, 50)
for element in tup:
    print(element)

In [ ]:
#Question 10: Find the maximum and minimum elements in a tuple.
# Solution:
def max_min_elements(tup):
    return max(tup), min(tup)

tup = (5, 8, 2, 10, 3)
max_element, min_element = max_min_elements(tup)
print("Max:", max_element)  # Output: Max: 10
print("Min:", min_element)  # Output: Min: 2

In [ ]:
#Question 11: Convert a tuple of strings to a single string.
# Solution:
def tuple_to_single_string(tup):
    return ''.join(tup)

tup = ('H', 'e', 'l', 'l', 'o')
result = tuple_to_single_string(tup)
print(result)  # Output: "Hello"

In [ ]:
#Question 12: Remove an element from a tuple.
# Solution:
def remove_element(tup, value):
    return tuple(x for x in tup if x != value)

tup = (1, 2, 3, 4, 3, 5)
new_tup = remove_element(tup, 3)
print(new_tup)  # Output: (1, 2, 4, 5)

In [ ]:
#Question 13: Find the common elements between two tuples.
# Solution:
def common_elements(tup1, tup2):
    return tuple(x for x in tup1 if x in tup2)

tup1 = (1, 2, 3, 4)
tup2 = (3, 4, 5, 6)
common = common_elements(tup1, tup2)
print(common)  # Output: (3, 4)

In [ ]:
#Question 14: Sort a tuple of integers.
# Solution:
def sort_tuple(tup):
    return tuple(sorted(tup))

tup = (5, 3, 8, 1, 2)
sorted_tup = sort_tuple(tup)
print(sorted_tup)  # Output: (1, 2, 3, 5, 8)

In [ ]:
#** Merge two tuples and remove duplicates.
# Solution:
def merge_and_remove_duplicates(tup1, tup2):
    return tuple(set(tup1).union(tup2))

tup1 = (1, 2, 3)
tup2 = (3, 4, 5)
result = merge_and_remove_duplicates(tup1, tup2)
print(result)  # Output: (1, 2, 3, 4, 5)

In [ ]:
#Find the first and last elements of a tuple.
# Solution:
def first_last_elements(tup):
    return tup[0], tup[-1]

tup = (10, 20, 30, 40, 50)
first, last = first_last_elements(tup)
print("First:", first)  # Output: First: 10
print("Last:", last)    # Output: Last: 50

In [ ]:
#Count the number of even and odd numbers in a tuple.
# Solution:
def count_even_odd(tup):
    even_count = sum(1 for x in tup if x % 2 == 0)
    odd_count = len(tup) - even_count
    return even_count, odd_count

tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even, odd = count_even_odd(tup)
print("Even:", even)  # Output: Even: 4
print("Odd:", odd)    # Output: Odd: 5

In [ ]:
 #Find the frequency of each element in a tuple.
# Solution:
def element_frequency(tup):
    freq_dict = {}
    for element in tup:
        freq_dict[element] = freq_dict.get(element, 0) + 1
    return freq_dict

tup = (1, 2, 2, 3, 2, 4, 2)
frequency = element_frequency(tup)
print(frequency)  # Output: {1: 1, 2: 4, 3: 1, 4: 1}