<a href="https://colab.research.google.com/github/mukulre/Projects/blob/main/Language_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
data = pd.read_csv("/content/dataset.csv")
print(data.head())

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [2]:
data.isnull().sum()

Text        0
language    1
dtype: int64

In [3]:
data["language"].value_counts()

language
Russian       185
Japanese      172
Tamil         167
Swedish       167
Pushto        166
Turkish       165
Hindi         164
Portugese     162
Indonesian    159
French        158
Thai          157
Persian       156
Dutch         155
Latin         154
Korean        151
Urdu          149
Estonian      147
English       146
Romanian      145
Arabic        145
Chinese       142
Spanish       136
Name: count, dtype: int64

In [4]:
x = np.array(data["Text"])
y = np.array(data["language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.33,
                                                    random_state=42)

In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

# Load the data
data = pd.read_csv("/content/dataset.csv")

# Print some info
print(data.head())
print(data.isnull().sum())
print(data["language"].value_counts())

# --- The Fix ---
# Drop rows with missing values in either 'Text' or 'language' columns
data = data.dropna(subset=['Text', 'language'])

# --- End of Fix ---

# Prepare the data
x = np.array(data["Text"])
y = np.array(data["language"])

# Create and fit the vectorizer
cv = CountVectorizer()
X = cv.fit_transform(x)

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.33,
                                                    random_state=42)

# Train the model
model = MultinomialNB()
model.fit(X_train, y_train)

# Evaluate the model
model.score(X_test, y_test)

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch
Text        0
language    1
dtype: int64
language
Chinese       667
Urdu          666
Persian       656
French        653
Russian       653
Swedish       653
Arabic        653
Dutch         652
Pushto        649
Latin         647
Korean        644
Thai          643
Romanian      642
Portugese     641
Hindi         641
Tamil         637
Estonian      637
Indonesian    636
Japanese      634
English       633
Turkish       623
Spanish       618
Name: count, dtype: int64

0.9514853601196837

In [7]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: cvbfghdgfrtgnrthy
['Dutch']